.Image1{
position: absolute;
clear: none;
height: 345.6px;
width: 230.4px;
z-index: 100;
top: 10px;
left: 310px;
}

.Image2{
position: absolute;
clear: none;
height: 345.6px;
width: 230.4px;
z-index: 100;
top: 10px;
left: 545px;
}

.Image3{
position: absolute;
clear: none;
height: 345.6px;
width: 230.4px;
z-index: 100;
top: 10px;
left: 780px;
}

.Image4{
position: absolute;
clear: none;
height: 345.6px;
width: 230.4px;
z-index: 100;
top: 10px;
left: 1015px;
}



.Image5{
position: absolute;
clear: none;
height: 345.6px;
width: 230.4px;
z-index: 100;
top: 362px;
left: 310px;
}


.Image6{
position: absolute;
clear: none;
height: 345.6px;
width: 230.4px;
z-index: 100;
top: 362px;
left: 545px;
}

.Image7{
position: absolute;
clear: none;
height: 345.6px;
width: 230.4px;
z-index: 100;
top: 362px;
left: 780px;
}

.Image8{
position: absolute;
clear: none;
height: 345.6px;
width: 230.4px;
z-index: 100;
top: 362px;
left: 1015px;
}
